<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- bower:css -->
    <!-- endbower -->
  </head>
  <body>
    {{{@body}}}

    <!-- bower:js -->
    <!-- endbower -->
  </body>
</html>