<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- bower:css -->
    <!-- endbower -->
  </head>
  <body>
    {{{@body}}}
    <section id="content" class="container"></section>
    
    <!-- bower:js -->
    <!-- endbower -->
    <script src="/static/script/bundle.js"></script>
  </body>
</html>